@model Models.Account.LoginModel

@{
    Layout = null;
    var returnUrl = ViewData["ReturnUrl"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../../">
    <title>Purchase Management System</title>
    <meta charset="utf-8"/>
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8"/>
    <link rel="shortcut icon" href="~/assets/media/logos/logo.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
</head>
<body id="kt_body" class="bg-body">
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/sketchy-1/14.png)">
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <a href="../" class="mb-12">
                <img alt="Logo" src="~/assets/media/logos/EkLogo.png" class="h-60px"/>
            </a>
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                <form class="form w-100" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@returnUrl" method="post">
                    @Html.AntiForgeryToken()
                    <div class="text-center mb-10">
                        <h1 class="text-dark mb-3">Purchase Management System</h1>
                    </div>
                    @{
                        if (ViewData.ModelState.IsValid == false)
                        {
                            <div class="callout callout-danger">
                                <div class="text-danger">@Html.ValidationMessage("Invalid")</div>
                            </div>
                        }
                    }
                    <div class="fv-row mb-10">
                        <label class="form-label fs-6 fw-bolder text-dark">Username</label>
                        <input asp-for="UserName" class="form-control form-control-lg form-control-solid" type="text" autocomplete="off" autofocus/>
                        <div>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="fv-row mb-10">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
                        </div>
                        <input asp-for="Password" class="form-control form-control-lg form-control-solid" type="password" autocomplete="off"/>
                        <div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary me-10" id="kt_button_1">
                            <span class="indicator-label">
                                Submit
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// Element to indecate
var button = document.querySelector("#kt_button_1");
// Handle button click event
button.addEventListener("click", function() {
    // Activate indicator
    button.setAttribute("data-kt-indicator", "on");
    // Disable indicator after 3 seconds
    setTimeout(function() {
        button.removeAttribute("data-kt-indicator");
    }, 10000);
});
</script>

<script src="~/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/assets/js/scripts.bundle.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>